*{padding: 0; margin: 0; }

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
    height: 100vh;
}

#taro{
    margin-top: 21em;
    height: 45em;
    width: 17em;
    border:red 6px ridge;
}

#botao{
    border: 4px ridge red;
    border-radius: 5px;
    background: black;
    color: red;
    height: 5em;
    width: 14em;
    margin-bottom: 10%;
    font: 2em monospace;
    cursor:pointer;
    transition: all 0.3s;
}

#botao:hover{
    border: 4px ridge crimson;
    color: crimson;
}

#texto{
    color: red;
    text-align: center;
    font: 1.5em monospace;
    margin-right: 40px;
    margin-left: 40px;
}