*{padding: 0; margin: 0; }

body{
    background-color: rgb(15, 8, 22);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-direction: column;
    height: 110vh;
}

#carta{
    margin-top: 10em;
    height: 40em;
    width: 20em;
    border:goldenrod 7px ridge;
    border-radius: 5px;
}

#botao{
    border: 5px ridge goldenrod;
    border-radius: 5px;
    background: black;
    color: goldenrod;
    height: 6em;
    width: 12em;
    font: 1.5em verdana;
    cursor:pointer;
    transition: all 0.7s;
}

#botao:hover{
    border: 5px ridge gold;
    color: gold;
    box-shadow: 1px 1px 20px goldenrod;

}

#texto{
    color: white;
    text-align: center;
    font: 1em verdana;
    margin-right: 40px;
    margin-left: 40px;
}

#final{
    text-align: center;
    font: 1em monospace;
    margin-bottom: 3em;
    color:white;
    cursor:pointer;
    transition: all 0.3s;
}

#final:hover{
    color:goldenrod;
}